@font-face {
    font-family: 'SourceSans3';
    src: url('./SourceSans3-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Code';
    src: url('FiraCode-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Serif';
    src: url('PTSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-VariableFont_wght.ttf') format('truetype');
}
